<h1 mat-dialog-title>Modifier le département</h1>
<div mat-dialog-content>
  <!-- Détails du département -->
  <!-- Ajoutez vos champs de formulaire pour les détails du département ici -->

  <!-- Sélection de l'employé -->
  <mat-form-field>
    <mat-label>Sélectionnez un employé</mat-label>
    <mat-select [(value)]="selectedEmployee">
      <mat-option *ngFor="let employee of employees" [value]="employee.empId">
        {{ employee.firstName }} {{ employee.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Annuler</button>
  <button mat-button color="primary" (click)="assignEmployee()">Assigner l'employé</button>
</div>
