<h1 mat-dialog-title>Ajouter Projet</h1>
<form [formGroup]="createPlanningForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nom du Projet</mat-label>
      <input matInput formControlName="nomProjet" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Date de Début de Validité</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="dateDebutValidite" required>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Date de Fin de Validité</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="dateFinValidite" required>
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Noms des Employés</mat-label>
      <mat-select formControlName="employeIds" multiple>
        <mat-option *ngFor="let employee of employees" [value]="employee.empId">
          {{ employee.firstName }} {{ employee.lastName }} <!-- Ajustez ceci pour correspondre à la structure de vos données d'employé -->
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-action align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>    
    <button mat-raised-button color="primary" type="submit">Ajouter</button>
  </div>
</form>
