<br>
<br>
<mat-form-field>
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Colonne ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="heureDebut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure de Début </th>
            <td mat-cell *matCellDef="let row"> {{row.heureDebut}} </td>
        </ng-container>
        <ng-container matColumnDef="heureFin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure de Fin </th>
            <td mat-cell *matCellDef="let row"> {{row.heureFin}} </td>
        </ng-container>
        <ng-container matColumnDef="jour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jour </th>
            <td mat-cell *matCellDef="let row"> {{row.jour}} </td>
        </ng-container>
        <ng-container matColumnDef="estApprouve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
            <td mat-cell *matCellDef="let row"> {{row.estApprouve}} </td>
        </ng-container>

        <ng-container matColumnDef="projectname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du Projet </th>
            <td mat-cell *matCellDef="let row"> {{row.planning.nomProjet}} </td>
        </ng-container>

        <!-- Colonne Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="validateFeuilleTemps(row.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Ligne affichée lorsqu'il n'y a pas de données correspondantes. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucune donnée ne correspond au filtre "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page de feuille de temps"></mat-paginator>
</div>
<br>
