<h2 mat-dialog-title>Tous les Participants à la Formation</h2>
<div mat-dialog-content *ngIf="sessions">
    <ng-container *ngFor="let session of sessions">
        <ng-container *ngIf="session.id === data.formationId">
            <!-- Afficher les participants pour la session sélectionnée -->
            <div class="participants-container">
                <div class="participant-card" *ngFor="let participant of session.participants">
                    <mat-card>
                        <mat-card-content>
                            <p>{{ participant.firstName }} {{ participant.lastName }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Fermer</button>
</div>