<h1 mat-dialog-title>Ajouter un Utilisateur</h1>
<form (ngSubmit)="registerUser()">
    <div mat-dialog-content>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput [(ngModel)]="newUser.username" name="username" required #username="ngModel" placeholder="Nom d'utilisateur">
        </mat-form-field>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <span *ngIf="username.errors?.['required']" style="color:red;">Le nom d'utilisateur est requis</span>
        </div>
        
        <!-- Mot de Passe -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput [(ngModel)]="newUser.password" name="password" type="password" required #password="ngModel" placeholder="Mot de passe">
        </mat-form-field>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors?.['required']" style="color:red;">Le mot de passe est requis</span>
        </div>
        
        <!-- Prénom -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput [(ngModel)]="newUser.firstName" name="firstName" required #firstName="ngModel" placeholder="Prénom">
        </mat-form-field>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors?.['required']" style="color:red;">Le prénom est requis</span>
        </div>
        
        <!-- Nom de Famille -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nom de famille</mat-label>
            <input matInput [(ngModel)]="newUser.lastName" name="lastName" required #lastName="ngModel" placeholder="Nom de famille">
        </mat-form-field>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors?.['required']" style="color:red;">Le nom de famille est requis</span>
        </div>
        
        <!-- Adresse Email -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Adresse email</mat-label>
            <input matInput [(ngModel)]="newUser.email" name="email" type="email" required email #email="ngModel" placeholder="Adresse email">
        </mat-form-field>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.['required']" style="color:red;">L'adresse email est requise</span>
            <span *ngIf="email.errors?.['email']" style="color:red;">Entrez une adresse email valide</span>
        </div>
        
        <!-- CIN -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>CIN</mat-label>
            <input matInput [(ngModel)]="newUser.cin" name="cin" type="number" required pattern="[0-9]{8}" #cin="ngModel" placeholder="CIN">
        </mat-form-field>
        <div *ngIf="cin.invalid && (cin.dirty || cin.touched)">
            <span *ngIf="cin.errors?.['required']" style="color:red;">Le CIN est requis</span>
            <span *ngIf="cin.errors?.['pattern']" style="color:red;">Le CIN doit comporter 8 chiffres</span>
        </div>
        
        <!-- Adresse -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput [(ngModel)]="newUser.address" name="address" required #address="ngModel" placeholder="Adresse">
        </mat-form-field>
        <div *ngIf="address.invalid && (address.dirty || address.touched)">
            <span *ngIf="address.errors?.['required']" style="color:red;">L'adresse est requise</span>
        </div>
        
        <!-- Numéro de Téléphone -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput [(ngModel)]="newUser.phone" name="phone" type="number" required pattern="[0-9]{8}" #phone="ngModel" placeholder="Numéro de téléphone">
        </mat-form-field>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <span *ngIf="phone.errors?.['required']" style="color:red;">Le numéro de téléphone est requis</span>
            <span *ngIf="phone.errors?.['pattern']" style="color:red;">Le numéro de téléphone doit comporter 8 chiffres</span>
        </div>
        
        <!-- Date de Naissance -->
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" [(ngModel)]="newUser.birthDate" name="birthDate" #birthDate="ngModel" required>
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
            <mat-error *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)">
                <span *ngIf="birthDate.errors?.['required']">La date de naissance est requise</span>
            </mat-error>
        </mat-form-field>
        
        <br>
    </div>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>   
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </div>
</form>
