<mat-form-field>
  <mat-label>Filtrer</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- Colonne Nom de l'Entreprise -->
      <ng-container matColumnDef="nomEntreprise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'Entreprise </th>
          <td mat-cell *matCellDef="let row"> {{ row.nomEntreprise }} </td>
      </ng-container>

      <!-- Colonne Date de Paie -->
      <ng-container matColumnDef="datePaie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Paie </th>
          <td mat-cell *matCellDef="let row"> {{ row.datePaie }} </td>
      </ng-container>

      <!-- Colonne Cotisations Sociales -->
      <ng-container matColumnDef="cotisationsSociales">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotisations Sociales </th>
          <td mat-cell *matCellDef="let row"> {{ row.cotisationsSociales }} </td>
      </ng-container>

      <!-- Colonne Heures Travaillées -->
      <ng-container matColumnDef="heuresTravaillees">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Heures Travaillées </th>
          <td mat-cell *matCellDef="let row"> {{ row.heuresTravaillees }} </td>
      </ng-container>

      <!-- Colonne Salaire Net -->
      <ng-container matColumnDef="salaireNet">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salaire Net </th>
          <td mat-cell *matCellDef="let row"> {{ row.salaireNet }} </td>
      </ng-container>

      <!-- Colonne Salaire Brut -->
      <ng-container matColumnDef="salaireBrut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salaire Brut </th>
          <td mat-cell *matCellDef="let row"> {{ row.salaireBrut }} </td>
      </ng-container>

      <!-- Colonne Période Début -->
      <ng-container matColumnDef="periodeDebut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Période Début </th>
          <td mat-cell *matCellDef="let row"> {{ row.periodeDebut }} </td>
      </ng-container>

      <!-- Définir les colonnes à afficher -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Ligne affichée lorsqu'il n'y a pas de données correspondantes -->
      <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée ne correspond au filtre "{{ input.value }}"</td>
      </tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des éléments"></mat-paginator>
</div>

<!-- Bouton Ajouter un Élément -->
<br>
<div>
  <button mat-raised-button color="primary" (click)="addBullPaie()">Ajouter Bulletin de Paie</button>
</div>
