<div class="blank-layout-container">
    <div class="position-relative row justify-content-center align-items-center h-100">
        <div class="col-lg-4 d-flex align-items-center">
            <mat-card class="cardWithShadow">
                <mat-card-content>
                    <div class="text-center">
                        
                            <img src="./assets/images/logos/sascode.jpg" alt="logo" />
                      
                    </div>
  
                    <form class="mt-4" #userForm="ngForm">
                        <div class="row">
                            <!-- Nom d'utilisateur -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Nom d'utilisateur</mat-label>
                                    <input matInput [(ngModel)]="newUser.username" name="username" required placeholder="Nom d'utilisateur">
                                </mat-form-field>
                            </div>
  
                            <!-- Mot de passe -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Mot de passe</mat-label>
                                    <input matInput [(ngModel)]="newUser.password" name="password" type="password" required placeholder="Mot de passe">
                                </mat-form-field>
                            </div>
  
                            <!-- Prénom -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Prénom</mat-label>
                                    <input matInput [(ngModel)]="newUser.firstName" name="firstName" required placeholder="Prénom">
                                </mat-form-field>
                            </div>
  
                            <!-- Nom de famille -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Nom de famille</mat-label>
                                    <input matInput [(ngModel)]="newUser.lastName" name="lastName" required placeholder="Nom de famille">
                                </mat-form-field>
                            </div>
  
                            <!-- Adresse email -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Adresse email</mat-label>
                                    <input matInput [(ngModel)]="newUser.email" name="email" type="email" required placeholder="Adresse email">
                                </mat-form-field>
                            </div>
  
                            <!-- CIN -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>CIN</mat-label>
                                    <input matInput [(ngModel)]="newUser.cin" name="cin" type="number" required placeholder="CIN">
                                </mat-form-field>
                            </div>
  
                            <!-- Adresse -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput [(ngModel)]="newUser.address" name="address" required placeholder="Adresse">
                                </mat-form-field>
                            </div>
  
                            <!-- Numéro de téléphone -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Numéro de téléphone</mat-label>
                                    <input matInput [(ngModel)]="newUser.phone" name="phone" type="number" required placeholder="Numéro de téléphone">
                                </mat-form-field>
                            </div>
  
                            <!-- Date de naissance -->
                            <div class="col-lg-6 mb-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Date de naissance</mat-label>
                                    <input matInput [matDatepicker]="birthDatePicker" [(ngModel)]="newUser.birthDate" name="birthDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #birthDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
  
                        <button mat-flat-button color="primary" class="w-100" (click)="registerUser()" [disabled]="userForm.invalid">
                            S'inscrire
                        </button>
                    </form>
                    <span class="d-block text-center mt-3">
                        Vous avez déjà un compte ?
                        <a href="http://localhost:5000/login" class="text-decoration-none">
                            Se connecter
                        </a>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>