<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="timeline_area section_padding_130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h2>Toutes les conventions ici !</h2>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="form-select" [(ngModel)]="searchCriteria" (change)="applyFilter()">
                <option value="nom">Nom</option>
                <option value="partenaire nom">Partenaire</option>
              </select>
            </div>
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Rechercher...">
          </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div *ngFor="let convention of pagedConventions" class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>{{ convention.dateDebut | date: 'MMM dd, yyyy' }} - {{ convention.dateFin | date: 'MMM dd, yyyy' }}</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <a href="javascript:void(0)" (click)="participateInConvention(convention.id)">
                                            <h6>{{ convention.nom }} organisée par {{ convention.partenaire.nom }}</h6>
                                            <p>{{ convention.objet }}</p>
                                        </a>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <mat-paginator [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [length]="conventions.length"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</section>
