<h1 mat-dialog-title>Add Department</h1>
<form #depForm="ngForm">
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>nom</mat-label>
    <input matInput [(ngModel)]="newDep.nom" name="nom" required #nom="ngModel">
    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched)">
      <span *ngIf="nom.errors?.['required']">Name is required</span>
    </mat-error>
  </mat-form-field>  
  <mat-form-field>
    <mat-label>description</mat-label>
    <input matInput [(ngModel)]="newDep.description" name="description" required #description="ngModel">
    <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
      <span *ngIf="description.errors?.['required']">Description is required</span>
    </mat-error>
  </mat-form-field>  
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>     
  <button mat-raised-button color="primary" (click)="addDep()" [disabled]="depForm.invalid">Add</button>
</div>
</form>