<mat-form-field>
  <mat-label>Filtrer</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Categorie Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </th>
      <td mat-cell *matCellDef="let row"> {{ row.categorie }} </td>
    </ng-container>

    <ng-container matColumnDef="montant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
      <td mat-cell *matCellDef="let row"> {{ row.montant }} </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
    </ng-container>

    <ng-container matColumnDef="dateDepense">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la Dépense </th>
      <td mat-cell *matCellDef="let row"> {{ row.dateDepense }} </td>
    </ng-container>

    <!-- Define columns to display -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée ne correspond au filtre "{{ input.value }}"</td>
    </tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page d'éléments"></mat-paginator>
</div>

<!-- Bouton Ajouter un élément -->
<br>
<div>
  <button mat-raised-button color="primary" (click)="addDepense()">Ajouter une Dépense</button>
</div>
