<mat-form-field>
  <mat-label>Filtrer</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- Colonne ID -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <!-- Colonne Nom -->
      <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{ row.nom }} </td>
      </ng-container>

      <!-- Colonne Description -->
      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
      </ng-container>

      <!-- Colonne Chef de département -->
      <ng-container matColumnDef="chefDepartement.employe.firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chef de département </th>
          <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.chefDepartement && row.chefDepartement.employe.firstName">
                  {{ row.chefDepartement.employe.firstName }} {{ row.chefDepartement.employe.lastName }}
              </ng-container>
              <ng-container *ngIf="!row.chefDepartement || !row.chefDepartement.employe.firstName">
                  Aucun
              </ng-container>
          </td>
      </ng-container>

      <!-- Colonne Actions -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="updateDepartment(row)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteDepartment(row.id)">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
      </ng-container>

      <!-- Définir les colonnes à afficher -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Ligne affichée lorsqu'il n'y a pas de données correspondantes -->
      <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée ne correspond au filtre "{{ input.value }}"</td>
      </tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionner la page des éléments"></mat-paginator>
</div>

<!-- Bouton Ajouter un élément -->
<br>
<div>
  <button mat-raised-button color="primary" (click)="addDepartment()">Ajouter un département</button>
</div>
