<h2 mat-dialog-title>Modifier le statut</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Statut</mat-label>
    <mat-select [(ngModel)]="currentStatus" name="status">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button (click)="onSave()" color="primary">Enregistrer</button>
</div>