<mat-form-field>
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


      <!-- Colonne Nom -->
      <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{ row.firstName }} {{ row.lastName }} </td>
      </ng-container>

      <!-- Colonne Titre -->
      <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
          <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
      </ng-container>

      <!-- Colonne Taux Heures Supplémentaires -->
      <ng-container matColumnDef="tauxHeuresSupplementaires">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux Supplémentaires </th>
          <td mat-cell *matCellDef="let row"> {{ row.tauxHeuresSupplementaires }} </td>
      </ng-container>

      <!-- Colonne Date de Début -->
      <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Début </th>
          <td mat-cell *matCellDef="let row"> {{ row.startDate }}</td>
      </ng-container>

      <!-- Colonne Date de Fin -->
      <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Fin </th>
          <td mat-cell *matCellDef="let row"> {{ row.endDate }}</td>
      </ng-container>

      <!-- Colonne Actions -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="updateEmployee(row)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="getEmployee(row)">
                  <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(row.empId)">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
      </ng-container>

      <!-- Définir les colonnes à afficher -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Ligne affichée lorsqu'il n'y a pas de données correspondant au filtre -->
      <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée ne correspond au filtre "{{ input.value }}"</td>
      </tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Sélectionnez la page des éléments"></mat-paginator>
</div>

<!-- Bouton Ajouter un élément -->
<br>
<div>
  <button mat-raised-button color="primary" (click)="addEmployee()">Ajouter Employé</button>
</div>
