<h1 mat-dialog-title>Modifier Employé</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput [(ngModel)]="data.firstName" name="firstName" required #firstName="ngModel">
    <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <span *ngIf="firstName.errors?.['required']">Le prénom est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Nom de famille</mat-label>
    <input matInput [(ngModel)]="data.lastName" name="lastName" required #lastName="ngModel">
    <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <span *ngIf="lastName.errors?.['required']">Le nom de famille est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="data.title" name="title" required #title="ngModel">
    <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
      <span *ngIf="title.errors?.['required']">Le titre est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Taux Horaire</mat-label>
    <input matInput [(ngModel)]="data.tauxHoraire" name="tauxHoraire" required #tauxHoraire="ngModel">
    <mat-error *ngIf="tauxHoraire.invalid && (tauxHoraire.dirty || tauxHoraire.touched)">
      <span *ngIf="tauxHoraire.errors?.['required']">Le taux horaire est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Taux Heures Supplémentaires</mat-label>
    <input matInput [(ngModel)]="data.tauxHeuresSupplementaires" name="tauxHeuresSupplementaires" required #tauxHeuresSupplementaires="ngModel">
    <mat-error *ngIf="tauxHeuresSupplementaires.invalid && (tauxHeuresSupplementaires.dirty || tauxHeuresSupplementaires.touched)">
      <span *ngIf="tauxHeuresSupplementaires.errors?.['required']">Le taux des heures supplémentaires est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Montant des Primes</mat-label>
    <input matInput [(ngModel)]="data.montantPrimes" name="montantPrimes" required #montantPrimes="ngModel">
    <mat-error *ngIf="montantPrimes.invalid && (montantPrimes.dirty || montantPrimes.touched)">
      <span *ngIf="montantPrimes.errors?.['required']">Le montant des primes est requis</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Montant des Déductions</mat-label>
    <input matInput [(ngModel)]="data.montantDeductions" name="montantDeductions" required #montantDeductions="ngModel">
    <mat-error *ngIf="montantDeductions.invalid && (montantDeductions.dirty || montantDeductions.touched)">
      <span *ngIf="montantDeductions.errors?.['required']">Le montant des déductions est requis</span>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>    
  <button mat-raised-button color="primary" (click)="updateEmployee()">Mettre à jour</button>
</div>
