<h2 mat-dialog-title>Supprimer l'employé de l'événement</h2>
<div mat-dialog-content *ngFor="let event of events">
    <ng-container *ngIf="event.id === data.eventId">
        <!-- Afficher les détails de l'événement ici -->
      
        <mat-form-field>
            <mat-label>Employé</mat-label>
            <mat-select [(ngModel)]="empId" name="empId" required>
              <ng-container *ngFor="let demande of event.demandeParticipationevenments">
                <mat-option *ngIf="demande.estValidee" [value]="demande.employe.empId">
                  {{ demande.employe.firstName }} {{ demande.employe.lastName }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
</ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="deleteEmployeeFromEvent()">Oui</button>
  <button mat-button (click)="closeDialog()">Non</button>
</div>