<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Please Enter your Phone Number</h2>
                <p class="text-center">We will send you a verification code. This process takes a couple of seconds. </p>
            </div>
            <form class="form-inline">
                <div class="form-group"><input class="form-control" type="number" name="phone" required pattern="^[0-9]{8}$"
                     [(ngModel)]="phoneNumberM" #phoneNumber="ngModel"
                     placeholder="Your Phone Number"></div>
                <div class="form-group"><button class="btn btn-primary" (click)="sendSms()">Send SMS </button></div>
                <div *ngIf="buttonPressed && phoneNumber.invalid">
                    <span *ngIf="phoneNumber.errors?.['required']" style="color:red;">Phone number is required</span>
                    <span *ngIf="phoneNumber.errors?.['pattern']" style="color:red;">Phone number must be 8 numbers</span>
                  </div>
            </form>
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>