<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser votre mot de passe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Veuillez entrer votre numéro de téléphone</h2>
                <p class="text-center">Nous vous enverrons un code de vérification. Ce processus prend quelques secondes.</p>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="number" name="phone" required pattern="^[0-9]{8}$" [(ngModel)]="phoneNumberM" #phoneNumber="ngModel" placeholder="Votre numéro de téléphone">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="sendSms()">Envoyer SMS</button>
                </div>
                <div *ngIf="buttonPressed && phoneNumber.invalid">
                    <span *ngIf="phoneNumber.errors?.['required']" style="color:red;">Le numéro de téléphone est requis</span>
                    <span *ngIf="phoneNumber.errors?.['pattern']" style="color:red;">Le numéro de téléphone doit comporter 8 chiffres</span>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
