<body>
    <br>
    <br>
<div class="container rounded bg-white mt-5 mb-5" *ngIf="profile">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold">{{ profile.username }}</span>
            <span class="text-black-50">{{ profile.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right" >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                      <label class="labels">First Name</label>
                      <input type="text" class="form-control" placeholder="first name" [(ngModel)]="updatedProfile.firstName">
                    </div>
                    <div class="col-md-6">
                      <label class="labels">Last Name</label>
                      <input type="text" class="form-control" placeholder="last name" [(ngModel)]="updatedProfile.lastName">
                    </div>
                  </div>
                  
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label class="labels">Username</label>
                      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="updatedProfile.username">
                    </div>
                  
                    <div class="col-md-12">
                      <label class="labels">Mobile Number</label>
                      <input type="number" class="form-control" placeholder="phone number" [(ngModel)]="updatedProfile.phone">
                    </div>
                  
                    <div class="col-md-12">
                      <label class="labels">Address</label>
                      <input type="text" class="form-control" placeholder="address" [(ngModel)]="updatedProfile.addres">
                    </div>
                  
                    <div class="col-md-12">
                      <label class="labels">Email</label>
                      <input type="text" class="form-control" placeholder="email id" [(ngModel)]="updatedProfile.email">
                    </div>
                  </div>
                  
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label class="labels">CIN</label>
                      <input type="number" class="form-control" placeholder="cin" [(ngModel)]="updatedProfile.cin">
                    </div>
                  </div>
                  
                  <!-- Save Profile Button -->
                  <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" (click)="updateProfile2()" type="button">Save Profile</button>
                    <button class="btn btn-primary profile-button margin-left button-creer-demission" (click)="creerDemission()" type="button">Créer Demission</button>
                    <button class="btn btn-primary profile-button margin-left button-demande-conge" (click)="creerConge()" type="button">Demander congé</button>

                  </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                
                <div class="col-md-12"><label class="labels">Experience in Designing</label>
                <input type="text" class="form-control" placeholder="experience" value=""></div> <br>

                <div class="col-md-12"><label class="labels">Additional Details</label>
                <input type="text" class="form-control" placeholder="additional details" value=""></div>
                <div class="mt-5 text-center">
                  <button class="btn btn-primary profile-button" (click)="viewReport()" type="button">View Report</button>
                  </div>
            </div>
        </div>
    </div>
</div>
</body>