<h1 mat-dialog-title>Ajouter Chef de Département</h1>
<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Employé</mat-label>
        <mat-select [(ngModel)]="employeId" name="employeId" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.empId">
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  <br>
  
    <mat-form-field>
        <mat-label>Département</mat-label>
        <mat-select [(ngModel)]="departementId" name="departementId" required>
          <mat-option *ngFor="let department of departments" [value]="department.id">
            {{ department.nom }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" placeholder="Spécialisation" [(ngModel)]="specialisation">
    </mat-form-field>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>    
    <button mat-raised-button color="primary" (click)="assignChefToDepartment()">Assigner Chef</button>    
</div>

<br>
