<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Removed the extra spaces from the image's margin-left style -->
    <img src="../../../assets/sascodehome-removebg-preview.png" alt="" style="margin-left: 10px;">
    <!-- Removed the extra spaces before SaScode and adjusted the margin-right -->
    <a class="navbar-brand" href="/home" style="font-weight: bold; font-size: 29px; margin-right: 150px;">SaScode</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/document">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Offres d'emploi <i class="fa-solid fa-star" style="vertical-align: top; color: #f09f33;"></i></a>
        </li>
      </ul>

      <form class="d-flex">
        <div style="margin-left: 20px;"></div>
      </form>
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fa-solid fa-user ">  User</i>
        </button>
        <ul class="dropdown-menu">
          <li><a *ngIf="!isAuthenticated()" class="dropdown-item" href="/login">Connexion</a></li>
          <li><a *ngIf="!isAuthenticated()" class="dropdown-item" href="http://localhost:4200/register">S'inscrire</a></li>
          <li><a *ngIf="isAuthenticated()" class="dropdown-item" href="/profile">Profil</a></li>
          <li><a *ngIf="isAuthenticated()" class="dropdown-item" href="/jobapplications">Mes candidatures</a></li>
          <li><a *ngIf="isAuthenticated()" class="dropdown-item" (click)="logout()">Déconnexion</a></li>
        </ul>
      </div>
      <div style="margin-left: 30px;"></div>
    </div>
  </div>
</nav>
