<h1 mat-dialog-title>Ajouter FeuilleTemps</h1>
<form (ngSubmit)="onSubmit()" #feuilleTempsForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Planning</mat-label>
      <mat-select [(ngModel)]="planningId" name="planningId" required>
        <mat-option *ngFor="let planning of plannings" [value]="planning.id">
          {{ planning.nomProjet }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jour</mat-label>
      <input matInput [matDatepicker]="jourPicker" name="jour" [(ngModel)]="FeuilleTempsData.jour" required>
      <mat-datepicker-toggle matSuffix [for]="jourPicker"></mat-datepicker-toggle>
      <mat-datepicker #jourPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Heure de début</mat-label>
      <input matInput [ngxMatDatetimePicker]="pickerCustomIcon" placeholder="Choisissez une date" [(ngModel)]="FeuilleTempsData.heureDebut" name="heureDebut">
      <ngx-mat-datepicker-toggle matSuffix [for]="pickerCustomIcon">
        <!-- <mat-icon ngxMatDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
      </ngx-mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerCustomIcon></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Heure de fin</mat-label>
      <input matInput [ngxMatDatetimePicker]="pickerCustomIcon" placeholder="Choisissez une date" [(ngModel)]="FeuilleTempsData.heureFin" name="heureFin">
      <ngx-mat-datepicker-toggle matSuffix [for]="pickerCustomIcon">
        <!-- <mat-icon ngxMatDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
      </ngx-mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerCustomIcon></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>  
    <button mat-raised-button color="primary" type="submit">Ajouter FeuilleTemps</button>  
  </div>
  <br>
</form>
