<h1 mat-dialog-title>Ajouter un Objectif d'Épargne</h1>
<form #depForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="newObjEpargne.description" name="description" required #description="ngModel">
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
        <span *ngIf="description.errors?.['required']">La description est requise</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Objectif Montant</mat-label>
      <input matInput type="number" [(ngModel)]="newObjEpargne.objectifMontant" name="objectifMontant" required
        #objectifMontant="ngModel">
      <mat-error *ngIf="objectifMontant.invalid && (objectifMontant.dirty || objectifMontant.touched)">
        <span *ngIf="objectifMontant.errors?.['required']">Le montant de l'objectif est requis</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date de Début</mat-label>
      <input matInput [matDatepicker]="dateDebutPicker" [(ngModel)]="newObjEpargne.dateDebut" name="dateDebut"
        required>
      <mat-datepicker-toggle matSuffix [for]="dateDebutPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateDebutPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date de Fin</mat-label>
      <input matInput [matDatepicker]="dateFinPicker" [(ngModel)]="newObjEpargne.dateFin" name="dateFin" required>
      <mat-datepicker-toggle matSuffix [for]="dateFinPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateFinPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
    <button mat-raised-button color="primary" (click)="addObjEpargne()">Ajouter</button>
  </div>
</form>
