<h2 mat-dialog-title>Tous les participants de la convention</h2>
<div mat-dialog-content *ngFor="let convention of conventions">
  <ng-container *ngIf="convention.id === data.conventionId">
    <!-- Afficher les détails de la convention ici -->
    <div class="participants-container">
      <ng-container *ngFor="let demande of convention.demandeParticipationConventions">
        <ng-container *ngIf="demande.estValidee">
          <div class="participant-card">
            <mat-card>
              <mat-card-content>
                <p>{{ demande.employe.firstName }} {{ demande.employe.lastName }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fermer</button>
</div>