<div class="dark-bg">
  <div class="center-content"> 
  <form class="form">
      <p id="heading">Inscription</p>
      <div class="field">
          <i class="fa-solid fa-user"></i>
        <input autocomplete="off" placeholder="Prénom" class="input-field" type="text">
      </div>
      <br>
      <div class="field">
          <i class="fa-solid fa-user"></i>
        <input placeholder="Nom de famille" class="input-field" type="text">
      </div>
      <br>
      <div class="field">
          <i class="fa-regular fa-envelope"></i>
          <input placeholder="E-mail" class="input-field" type="text">
      </div>
      <br>
      <div class="field">
              <i class="fa-solid fa-lock"></i>
                <input placeholder="Mot de passe" class="input-field" type="password">
              </div>
              
      <div class="btn">
      
      <button class="button2" routerLink="/signup">S'inscrire</button>
      </div>
  </form>
  </div>
  </div>
